:root {
    --accent-color: hsl(30, 100%, 70%);
    --text-color: hsl(30, 100%, 90%);
    --link-hover-color: hsl(30, 100%, 10%);

    --border-color: hsl(30, 12%, 18%);
    --hr-color: hsl(30, 12%, 18%);
    --container-color: hsl(30, 12%, 9%);

    --details: hsl(30, 6%, 14%);
    --vlcplayer-button: hsl(30, 6%, 14%);

    --pl1: rgb(255, 255, 255);
    --pl2: rgb(255, 0, 0);
    --lua: rgb(110, 110, 238);
    --luau: rgb(0, 162, 255);
    --python1: rgb(55, 113, 162);
    --python2: rgb(255, 220, 76);
    --rbx: rgb(255, 100, 100);
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-color: hsl(30, 100%, 40%);
        --text-color: hsl(30, 100%, 10%);
        --link-hover-color: hsl(30, 100%, 90%);

        --border-color: hsl(30, 12%, 70%);
        --hr-color: hsl(30, 12%, 70%);
        --container-color: hsl(30, 18%, 85%);

        --details: hsl(30, 15%, 90%);
        --vlcplayer-button: hsl(30, 6%, 90%);
    }
}

@font-face {
    font-family: "Main";
    src: url("../fonts/EnvyCodeRNerdFontMono-Regular.ttf");
}

* {
    font-family: "Main", sans-serif;
    color: var(--text-color);
}

@font-face {
    font-family: "Code";
    src: url("../fonts/BigBlueTermPlusNerdFontMono-Regular.ttf");
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    min-height: 100vh;
    margin: 0;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
    z-index: 0;
}

#chomik {
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 150px;
    width: 150px;
    z-index: 1;
}

.main {
    z-index: 1;
    display: flex;
    margin: 0 auto;
    min-width: 0;
    max-width: 800px;
    padding: 10px;
    width: max-content;
    gap: 8px;
    z-index: 0;
    border: var(--border-color) 2px solid;
    background: var(--container-color);
    flex-direction: column;
    /* align-self: center; */
    /* flex-wrap: wrap; */
    flex-grow: 1;

    hr {
        width: 100%;
        margin: 0;
    }

    #logo {
        align-items: center;
        align-self: center;
        text-align: center;
        margin: 20px;
        padding: 0;
        white-space: pre;
        width: 100%;

        span {
            font-family: "Code", monospace;
            color: var(--accent-color);
            display: inline-block;
        }
    }

    nav {
        padding: 5px;
        align-items: center;
        align-self: center;

        b {
            color: var(--accent-color);
        }

        span {
            filter: opacity(25%);
        }

        a {
            text-decoration: none;
            /* filter: opacity(50%); */
        }

        a:hover {
            filter: inherit;
        }
    }

    hr {
        border: 1px solid var(--hr-color);
    }

    /* Text styles */
    p, h1, h2, h3, h4, h5, h6, footer {
        padding: 0px 10px;
        margin-block: 0.5em;
    }

    h1 {
        border-bottom: solid var(--hr-color) 1px;
        padding-bottom: 15px;
        margin-top: 10px;
        font-size: x-large;
    }

    h2 {
        font-size: larger;
    }

    h3 {
        font-size: large;
    }

    h4 {
        font-size: medium;
    }

    small {
        font-size: x-small;
    }

    code, pre {
        font-family: "Code", monospace;
    }

    a:hover {
        background-color: var(--accent-color);
        color: var(--link-hover-color);
    }

    details {
        background-color: var(--details);
        padding: 10px;
        margin: 0 10px;

        summary {
            font-weight: bold;
        }
    }
}