:root {
    --audio-player-button-color: var(--window-outline);
}

#eightyeightthirtyone {
    padding: 5px;
    display: flexbox;
    align-items: center;
    text-align: center;
    gap: 3px;

    a:hover {
        cursor: pointer;
        background: none;
        filter: brightness(80%);
    }
}

.audio-player {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    #track-name {
        font-family: "UbuntuMonospace", monospace;
        flex: 1 1 100%;
        font-size: 1rem;
        /* width: 90%; */
        margin: 5px 0px;
        text-shadow: 1px 1px 0 var(--opposite),
                    -1px 1px 0 var(--opposite),
                    1px -1px 0 var(--opposite),
                    -1px -1px 0 var(--opposite); 
        /* I LOVE CSS REQUIRING 4 VALUES JUST FOR A HALF-DECENT LOOKING TEXT OTULINE. if you have better way of doing this then lmk */
        transform: scaleY(1.25);
        transition: text-shadow 0.2s transform;
    }

    button {
        background-color: var(--audio-player-button-color);
        flex: 1 1 1%;
        border: none;
    }

    button:hover {
        filter: brightness(80%);
    }

    #audio {
        flex: 1 1 90%;
        height: 30px;
        /* width: 100%; */
    }
}