#eightyeightthirtyone {
    padding: 5px;
    display: flexbox;
    align-items: center;
    text-align: center;
    gap: 3px;

    a:hover {
        background: none;
        filter: brightness(80%);
    }
}