#eeto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 2px;

    a {
        opacity: 70%;
        transition: opacity 0.2s ease-out;
    }

    a:hover {
        background-color: transparent;
        opacity: 100%;
    }
}

#vlcplayer {
    display: flex;
    flex-wrap: wrap;

    #track-name {
        text-align: center;
        flex: 1 1 100%;
    }

    #track {
        height: 25px;
        flex: 1 1 90%;
    }

    button {
        height: 25px;
        background-color: var(--vlcplayer-button);
        border: none;
        flex: 1 1 3%;
    }

    button:hover {
        filter: invert();
    }
}