th, td {
    border: 1px solid var(--window-outline);
    border-radius: 1vh;
    padding: 3px 7px;

    img {
        width: 10%; 
        height: 10%;
    }
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}